<section ng-controller='UserCtrl'>

	<div class='user-nav row orange lighten-4'>
		<div class='col l4'>
			<input type='text' ng-model='userSearch' placeholder="Search by title, actor, year, or rating" class='userSearch white'>
		</div>
		<div class='col l2 offset-l2'>
			<button class='btn' ng-click='toggleDisplayList(false)'>
				<i class='material-icons left'>play_circle_outline</i>Watchlist
			</button>
		</div>
		<div class='col l2'>
			<button class='btn' ng-click='toggleDisplayList(true)'>
				<i class='material-icons left'>done_all</i>Watched
			</button>
		</div>
		<div class='col l2'>
			<button class='btn red lighten-1'>
				<i class='material-icons left'>person_pin</i>Logout
			</button>
		</div>
	</div>

	<div class='movie-list row'>
		<div class='col l3' ng-repeat='movie in userMovies | filter: {watched: watchedValue} | filter: userSearch'>
			<div class='card'>
				<div class='card-content'>
					<span class='card-title'>{{ movie.title }}</span>
					<table class='bordered'>
						<tr>
							<th>Year:</th>
							<td>{{ movie.year }}</td>
						</tr>
						<tr>
							<th>Actors:</th>
							<td>{{ movie.actors }}</td>
						</tr>
						<tr>
							<th>Your Rating:</th>
							<td>{{ movie.user_rating }}</td>
						</tr>
					</table>
					<p class='rate-text'><i class='material-icons left'>stars</i>Rate this movie</p>
					<select name='rating' ng-model='movie.user_rating'>
						<option value='1'>1</option>
						<option value='2'>2</option>
						<option value='3'>3</option>
						<option value='4'>4</option>
						<option value='5'>5</option>
					</select>
					<button class='btn orange lighten-1' ng-click='markWatched(movie)' ng-disabled='watchedValue' ng-class='watchedValue ? "disabled" : ""'>
						<i class='material-icons left'>done</i>Mark as Watched
					</button>
					<button class='btn red lighten-1' ng-click='markNotWatched(movie)' ng-disabled='!watchedValue' ng-class='!watchedValue ? "disabled" : ""'>
						<i class='material-icons left'>not_interested</i>Mark as Not Watched
					</button>
					<div class='col l1'>
						<!-- Empty div -->
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
