.login {

}

#userForm {
  padding: 0;
  margin: auto;
}

/* user.html styles
============================= */
.user-nav {
	padding: 20px;
}

.bold {
	font-weight: 500;
}

select {
	display: initial;
}

.card-content .btn {
	margin-top: 20px;
}

.card .card-content p {
	margin: 10px 0;
}

input[type='text'].userSearch {
	border-radius: 4px;
	padding: 5px;
	border-bottom: none;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

input[type='text'].userSearch:focus {
	border-radius: 4px;
	padding: 5px;
	border-bottom: none;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}
